<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Item1</key>
		<string>A)</string>
		<key>Item2</key>
		<string>B)</string>
		<key>Item3</key>
		<string>C)</string>
		<key>Item4</key>
		<string>D)</string>
		<key>Item5</key>
		<string>E)</string>
	</dict>
	<dict>
		<key>Item1</key>
		<string>A)</string>
		<key>Item2</key>
		<string>B)</string>
		<key>Item3</key>
		<string>C)</string>
		<key>Item4</key>
		<string>D)</string>
		<key>Item5</key>
		<string>E)</string>
	</dict>
	<dict>
		<key>Item1</key>
		<string>A)</string>
		<key>Item2</key>
		<string>B)</string>
		<key>Item3</key>
		<string>C)</string>
		<key>Item4</key>
		<string>D)</string>
		<key>Item5</key>
		<string>E)</string>
	</dict>
	<dict>
		<key>Item1</key>
		<string>A)</string>
		<key>Item2</key>
		<string>B)</string>
		<key>Item3</key>
		<string>C)</string>
		<key>Item4</key>
		<string>D)</string>
		<key>Item5</key>
		<string>E)</string>
	</dict>
</array>
</plist>
